@model Casgem_CodeFirstProject.DAL.Entities.Message

<section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="/Default/Index/" class="editContent">Anasayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                <li class="active editContent">
                    Contact
                </li>
            </ul>
        </div>
    </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">
            <div class="map-content-9 mb-5 ">
                <form method="post">
                    <div class="twice-two">
                        <input type="text" class="form-control" name="MessageName"  placeholder="Ad" required="">
                        <input type="text" class="form-control" name="MessageMail" placeholder="Mail" required="">
                        <input type="text" class="form-control" name="MessageSubject" placeholder="Konu" required="">
                    </div>
                    <textarea name="MessageDescription" class="form-control" placeholder="Message" required=""></textarea>

                    <div class="text-right">
                        <button type="submit" class="btn btn-contact">Mesaj Gönder</button>
                    </div>
                </form>
            </div>

            <div class="d-grid contact-view">

                <div class="cont-details">
                    <h3 class="sub-title">Hızlı İletişim</h3>
                    <p class="para mt-3 mb-4">Bana Hızlıca Ulaşabileceğin Adresimlerim Bu Şekildedir.</p>
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="tel:+44 99 555 42">+90 554 543 19 60</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="mailto:example@mail.com" class="mail">ozkantunahn@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para">
                                Ankara, #81200 PostaKodu,
                                <br> #Ankamall Kübra Sokak,
                                <br> KazımKarabekir Cad, TR.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="map-iframe ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.006098155595!2d32.89578817557341!3d40.03064327904811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40820811c2a82bc7%3A0xfddf65723d2b3b0f!2zw4dhc2dlbQ!5e0!3m2!1str!2str!4v1690365827635!5m2!1str!2str%22%20width=%22600%22%20height=%22450%22%20style=%22border:0;%22%20allowfullscreen=%22%22%20loading=%22lazy%22%20referrerpolicy=%22no-referrer-when-downgrade%22" width="100%" height="300" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
                </div>
            </div>

        </div>
    </div>
</section>
