@model  List<Casgem_CodeFirstProject.DAL.Entities.Holiday>

<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Sizin İçin Modern Ve Lüks Mimari Ve İç Mimarlar</h3>
                    <p class="para mt-3 mb-lg-4 ">Kanallar Şehri olarak bilinen Venedik, İtalya’nın en çok turist alan bölgelerinden birisidir. 117 irili ufaklı ada ve 400 civarında köprünün şekillendirdiği şehir, İtalya turuna katılanların uğrak yeridir. Bu yazımızda Venedik ile özdeşleşen ve ziyaretçilerinin mutlaka deneyimlediği Venedik Gondol Turu’nu inceleyeceğiz.</p>
                    <a href="about.html" class="action-button btn mt-4">Daha Fazla <span class="fa fa-angle-double-right"></span></a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Templates/go-trip-starter/assets/images/b4.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>
