
@{
    ViewBag.Title = "AddPersonel";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Personel Ekleme Sayfası</h2>

<form method="post">
    <label>Adı Soyadı: </label>
    <input type="text" class="form-control" name="PersonelName" />
    <br />
    <label>Meslek: </label>
    <input type="text" class="form-control" name="PersonelJob" />
    <br />
    <button class="btn btn-info">Personel Kaydet</button>
</form>




