
@{
    ViewBag.Title = "AddTravels";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yeni Seyahat Ekleme Sayfası</h2>

<form method="post">
    <label>Seyahat Adı: </label>
    <input type="text" class="form-control" name="TravelName" />
    <br />
    <label>Sehayat Icon: </label>
    <input type="text" class="form-control" name="TravelIcon" />
    <br />
    <label>Açıklama: </label>
    <input type="text" class="form-control" name="TravelDescription" />
    <br />
    <label>Adres: </label>
    <input type="text" class="form-control" name="Subject" />
    <br />
    <button class="btn btn-info">İletişim Kaydet</button>
</form>

