﻿<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="#url">Şehrin Işıkları</a></h4>
                            <p>Yerebatan Sarnıcı Müzesi, görkemli İstanbul tarihinin izlerini sürebileceğimiz en önemli kültür varlıklarının başında gelmektedir. Doğu Roma İmparatoru I. Justinianus (527-565) tarafından yaptırılmış</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        <div class="images-text">
                            <div class="ser-bg1">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">@ViewBag.name</a></h4>
                                    <p>@ViewBag.description</p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg4">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Buckingham Sarayı</a></h4>
                                    <p>150 yıl kadar özel mülk olan sarayın arazisinde 1703'te Buckingham Evi olarak adlandırılan Westminster Dükü'nün konağı bulunmaktaydı. </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg2">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Australya Doğası</a></h4>
                                    <p>Avustralya'da, inanılmaz miktarda dudak uçuklatan doğa harikası bulacaksınız. Tuhaf kaya oluşumlarından, sakız pembesi göllerden </p>
                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg3">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Türkiye Doğası</a></h4>
                                    <p>Ülkemizin en temiz havasına sahip olduğu bilinen, yeşillikler içinde doğal bir merkez haline gelen Kazdağları, Balıkesir ile Çanakkale illeri sınırları içinde kalır </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>