﻿<section class="w3l-teams-15">
    <div class="team-single-main editContent">
        <div class="container">

            <div class="row">
                <div class="column2 col-lg-6">

                    <img src="~/Templates/go-trip-starter/assets/images/b1.jpg" alt="product" class="img-responsive ">
                </div>
                <div class="nature-row  coloum4 col-lg-6">
                    <h6 class="small-title">Keşfedin</h6>
                    <h3>Size özel tatil Paketleri ve Seyahat hizmetleri </h3>
                    <p class="para editContent text ">
                        Sizin için her detayı düşünülerek hazırlanan villalarımızda tatilin tadını çıkarmanın tam zamanı. Geçirdiğiniz yoğun temponun sonunda kendinize vakit ayırmayı hak ediyorsunuz.
                    </p>
                    <a href="about.html" class="action-button btn mt-lg-5 mt-4">Daha Fazla</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>